*{
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	-webkit-appearance: none;
}

body{
	background-color: #3498db;
	color: #e74c3c;
	font-family: sans serif, Arial;
	text-align: center;
}

p{
    background-color: #e74c3c;
    border-radius: 2px;
    color: #fff;
    display: table;
    font-size: 12pt;
    height: 30px;
    line-height: 24pt;
    margin: 15px auto;
    padding: 0 15px;
}

#container{
	background-color: #3498db;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#outer-area{
	background-color: #3498db;
}

h1{
	font-size: 24pt;
	font-family: Georgia, serif;
	text-transform: uppercase;
	color: white;
}

h2{
	font-size: 12pt;
	font-family: sans-serif;
	text-transform: uppercase;
	background-color: transparent;
	color: white;
}

hr{
	background-color: #c0392b;
	border: none;
	border-radius: 3px;
	height: 6px;
	margin: 30px auto 30px auto;
	width: 150px;

}

#instructions{
	margin-bottom: 15px;
}

.green-text{
	color: #c0392b;
	font-size: 24pt;
}

#add-items {
	background-color: #c0392b;
	border: none;
	border-radius: 2px;
	color: #fff;
    display: inline-block;
    font-size: 12pt;
    height: 30px;
    line-height: 24pt;
    margin: 15px auto;
    padding: 0 15px;
    text-align: center;
    width: 500px;
}

input[type=text]:focus {
	border: none;
	outline: none;
}

#logo{
	height: 100px;
	width: 100px;
}

button {
	background-color: #c0392b;
	border: none;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
    display: inline-block;
    font-size: 12pt;
    height: 30px;
    line-height: 24pt;
    margin: 15px auto;
    padding: 0 15px;
    text-align: center;
}

button:hover{
	background-color: #2ecc71;
}

#heading{
	background-color: #2980b9;
	padding-bottom: 30px;
	padding-top: 30px;
	margin: 20px auto 50px auto;
	height: 250px;
	width: 1000px;
	border: 2px solid #2980b9;
	border-radius: 200px;
}
.dashed{
	background-color: transparent;
	color: #2ecc71;
	border: 2px solid #2ecc71;
	border-style: solid;
}
.full-width{
	width: 500px;
}
.delete{
	cursor: pointer;
	margin-top: 5px;
	float: left;
	height: 22px;
	width: 22px;
	background: url('../images/x-mark.png');
}

.alt-delete{
	background: url('../images/alt-x-mark.png');
}

.cross-off{
	cursor: pointer;
	margin-top: 5px;
	float: right;
	height: 22px;
	width: 22px;
	background: url('../images/check-mark.png');
}

.alt-cross-off{
	background: url('../images/alt-check-mark.png');
}

.strikethrough{
	background-color: #2ecc71;
	text-decoration: line-through !important;
}
#footing{
	height: 100px;
	background-color: #3498db;
	margin-top: 30px;
}




::-webkit-input-placeholder { /* WebKit browsers */
    color:    #dbdbdb;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #dbdbdb;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #dbdbdb;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #dbdbdb;
}
